.pagination {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  &-item {
    background-color: aqua;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.current {
  background-color: red;
}
